.Main {
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.3;
}

#loading_screen {
  background-image: url("../../html/loading-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1000;
}

.header_bar {
  position : absolute;
  top : 0;
  height : 60px;
  left : 0;
  right : 0;
  padding-right: 5px;
  background-color : rgba(0,0,0,0.8); 
  background-image : url("../../html/logo_element.svg");
  background-position : 15px;
  background-size: 45px 47px;
  background-repeat : no-repeat;
  text-align : right;			
}

.html_details {
  position : absolute;
  top : 60px;
  bottom : 0;
  left : 0;
  width : 400px;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow : visible;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  color : white;
  pointer-events: none;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 37.5%;
  width: 450px;
  height: 75px;

  background-color : rgba(0,0,0,0.4); 
  background-image: url("../../html/footer_logos.svg");
  background-position: 10px;
  background-size: 430px 85px;
  background-repeat: no-repeat;
}

.scene_view {
  position : absolute;
  top : 	0px;
  left : 0;
  right : 0px;
  bottom : 0;
  overflow : hidden;
}

button::-moz-focus-inner { border: 0; }

.header_button  {
  font-family: Dosis;
  border: 0;
  margin : 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display : inline;
  cursor : pointer;
  font-size : 20px;
  line-height : 1;
  border-radius : 0;
  height: 60px;
  color : white;
  font-weight : bold;
}

.header_button + .separator {
  border: 0;
  content: '';
  display: inline-block;
  background: white;
  margin-bottom: -0.2em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  height: 1em;
  width: 0.1em;
}

.header_button:hover {
  border: 0;
  background-color : white;
  color: black;
}

a.link {
  /*background : #a0a0a0;
  border-radius : 5px;
  line-height : 4em;
  padding : 1em;*/
  border: 0;
  color : white;
  line-height : 1.7;
  text-decoration : none;
  font-weight : bold;
  pointer-events: auto;
}

a.link:hover {
  border: 0;
  color : #f0f0f0;
}		

div.status {
  font-size : 200%;
  color : red;
  font-weight : bold;		
}
