
/* 
 * This file is reserved for your global style rules. 
 */
@import url("loading_screen.css");

html {
    font-family: sans-serif;
    color: #333;
}

body {
    margin: 0; /* Remove default margin */
}
