
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
}

#loading_screen {
  background-image: url("../../html/loading-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1000;
}

body {
    margin: 0; /* Remove default margin */
}
